a:visited, a:hover, a:active {
    text-decoration: none;
}
/*Header: begin*/
.shopping-mall{
    bottom: 20px;
    font-variant: small-caps;
}
.shopping-mall > h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    letter-spacing: .3px;
    text-shadow: 0 0 2px #000;
    padding-bottom: 0px;
    border-bottom: 1px dotted gray;
    margin: 0px;
}
.shopping-mall > h5 {
    margin-top: 5px;
    letter-spacing: .5px;
}
/*Header: end*/

/*Nav: begin*/

/*Nav: end*/

/*Article: begin*/

/*Article: end*/

/*Aside: begin*/

/*Aside: end*/

/*Footer: begin*/

/*Footer: end*/

/*Detail: begin*/
.related-products {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    border-bottom: 1px dotted gray;
    font-weight: bold;
}
.product-detail-info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    padding: 10px;
    margin-left: 20px;
    list-style: none;
}
.product-detail-header {
    font-size: 1.4em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px dotted gray;
}
.product-brief {
    border-top: 1px solid lightgray;
    margin-top: 7px;

}
/*Detail: end*/

/*PaginationList: begin*/

/*PaginationList: end*/