/*Header: begin*/
.shopping-mall{
    bottom: 20px;
    font-variant: small-caps;
}
.shopping-mall > h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    letter-spacing: .3px;
    text-shadow: 0 0 2px #000;
    padding-bottom: 0px;
    border-bottom: 1px dotted gray;
    margin: 0px;
}
.shopping-mall > h5 {
    margin-top: 5px;
    letter-spacing: .5px;
}
/*Header: end*/

/*Nav: begin*/

/*Nav: end*/

/*Article: begin*/

/*Article: end*/

/*Aside: begin*/

/*Aside: end*/

/*Footer: begin*/

/*Footer: end*/