:root{
    --success: green;
    --warning: orange;
    --error: red;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ecf1f0;
}
.controll button{
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 28px;
    color: white;
    margin: 0 10px;
}
.success{
    background: var(--success);
}
.warning{
    background: var(--warning);
}
.error{
    background: var(--error);
}